h1 {
    margin-bottom: 30px;
}

h2 {
    height: 80px;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.product-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

img {
    object-fit: cover;
    height: auto;
    width: 320px;
}